.App {
  background: #1f2833;
  color: #66fcf1 !important;
  text-align: center;

}
.component{
  background: #00525d44;
}
.component-title{
  font-size: 40px;
  padding-top: 35px;
}
.myCard{
  /* background: #1f2833 !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.coreCard{
  background: #1f283300 !important;
  color: #66fcf1!important;
  min-width: 100px;
  min-height: 280px;
  align-items: center;
  text-align: center;
  margin:10px 20px 10px 20px;
  box-shadow: none !important;
}
.text-color{
  color: #6cfaf1!important;
}
.text{
  color: rgba(250, 240, 230, 0.521) !important;
}
